{% extends 'pages/base.html' %}

{% block title%} {{title}} {% endblock %}

{% block pageName %} {{page_name}} {% endblock pageName %}

{% block main %}
    <main>
        <h1>About Us</h1>
        <section>
            <h2>Our Mission</h2>
            <p>Here you can talk about the missioin of your Company</p>
        </section>
        <section>
            <h2>Our Team</h2>
            <p>Team working with can be here</p>
        </section>
        <section>
            <h2>Our History</h2>
            <p>A brify History of your company</p>
        </section>
        <section>
            <h2>Contact information</h2>
        </section>
    </main>
    {% endblock main %}